.experience {
  text-align: left;
  padding: 20vh 10vh 20vh 10vh;
    background-color: var(--background-color);
  }

  .merge {
    height: 100%; /* Adjust height as needed */
    display: flex; /* Enable Flexbox */
    align-items: left; /* Center items vertically */
    justify-content: left; /* Center items horizontally */
    text-align: left;
  }

  .experience #title {
    color: var(--font-color-two);
    font-family: var(--font-h1);
    font-weight: bold;
    font-size: 8vh;
  }

  .divider {
    display: flex;
    align-items: center;
  }
  
  .sect, .sect0 {
    display: flex;
    flex-direction: row;
    font-family: var(--font-hOthers);
    color: var(--font-color-two);
  }

  .sect .year,  .sect0 .year {
    width: 30%;
    align-items: center; 
    justify-content: center; 
    text-align: right; 
    padding-right: 2vh;
  }

  .sect .icon,  .sect0 .icon {
    width: 5%;
    align-items: center; 
    justify-content: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .sect .icon .shape{
    width: 4vh; 
    height: 4vh;
    background-color: rgb(255, 222, 7); 
    border-radius: 50%; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    background-color: var (--main-font-color); 
    border-radius: 50%; 
    box-shadow: 0 0 10px 5px rgba(255, 215, 0, 0.75); /* Yellow glow */
  }

  .sect .icon .shape0{
    width: 4vh; 
    height: 4vh;
    background-color: #8b855c; 
    border-radius: 50%; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    background-color: #0b1512;
    border-radius: 50%; 
  }
  
  .sect0 .icon::after {
    content: ''; 
    width: 2px; 
    height: 100%; 
    background-color: #0b1512;
    margin-top: 1vh;
  }

  .sect .role {
    padding-left: 2vh;
    width: 65%;
    align-items: center; 
    justify-content: flex-start; 
    text-align: Left; 
  }

  .sect0 .roledesc  {
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    width: 65%;
    align-items: left;
    justify-content: flex-start; 
    text-align: Left; 
    color: #0b1512;
  }

  .actrole {
    padding: 0vh 0vh 1vh 0vh;
    
  }

  .actdesc {
    padding-right: 10vh;
  }

  
  /* Media Queries for additional responsiveness */

@media (max-width: 768px) {

.experience{
  padding: 2vh;
}
  .actdesc {
    padding-right: 2vh;
}

  .icon, .shape, .shape0 {
    display: none;
  }

  .year{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .merge {
    padding: 1vh;
    font-size: 1vh;
  }
}

@media (max-width: 480px) {

.experience{
  padding: 2vh;
}
  .actdesc {
    padding-right: 2vh;
}

  .icon, .shape, .shape0 {
    display: none;
  }

  .year{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .merge {
    padding: 1vh;
    font-size: 1vh;
  }
}
